<div align="left" style="background-color: #008080; padding: 20px 10px;">
<h3><b>IDEAS - Institute of Data Engineering, Analytics and Science Foundation</b></h3>
<p>Spring Internship Program 2026</p>
<hr style="width:100%;">
<h3><b>Project Title:</b> Exploratory data analysis with sales data.</h3>
<h4>Project Notebook</h4>

<blockquote style="border-left: 4px solid #4285F4; padding-left: 15px;">
  <strong>Created by:</strong> Koulika Paul<br>
  <strong>Designation:</strong> Project Linked Associate Research Engineer in Statistics
</blockquote>
<hr style="width:100%;">
</div>

### Question 1: Import Libraries and Load Data (5 Marks)

Import the `pandas` library as `pd`. Then, download the data `Coffe_sales.csv` from https://drive.google.com/drive/folders/1TeLp4U4NsXCSgClbF7ODBsaLKpHSWeQr?usp=sharing and load into a DataFrame named `coffee_data` and display its first 5 rows.

**Hint:** Use `pd.read_csv()` to load the data. To display the first few rows, use the `.head()` method.

**Expected Output:** A table showing the first 5 rows of the coffee sales data.

In [28]:
import pandas as pd
from google.colab import drive


coffee_data = pd.read_csv('/content/drive/MyDrive/Coffe_sales.csv')

coffee_data.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

### Question 2: Initial Data Inspection (5 Marks)

Perform a basic inspection of the `coffee_data` DataFrame. Print the number of rows and columns, check for any duplicate rows, and find the total number of missing values in the entire dataset.

**Hint:** Use `.shape` for dimensions, `.duplicated().sum()` for duplicate count, and `.isnull().sum().sum()` for total missing values.

**Expected Output:** A printout of the shape, the number of duplicate rows, and the total number of missing values.

In [29]:

print("Shape of the dataset (rows, columns):", coffee_data.shape)

duplicate_rows = coffee_data.duplicated().sum()
print("Number of duplicate rows:", duplicate_rows)


missing_values = coffee_data.isnull().sum().sum()
print("Total number of missing values:", missing_values)

Shape of the dataset (rows, columns): (3547, 11)
Number of duplicate rows: 0
Total number of missing values: 0

### Question 3: Basic Statistics (5 Marks)

Generate and display the basic descriptive statistics for the numerical columns in the `coffee_data` DataFrame.

**Hint:** Use the `.describe()` method on your DataFrame.

**Expected Output:** A table showing count, mean, std, min, 25%, 50%, 75%, and max for the numerical columns.

In [30]:

coffee_data.describe()

       hour_of_day        money  Weekdaysort    Monthsort
count  3547.000000  3547.000000  3547.000000  3547.000000
mean     14.185791    31.645216     3.845785     6.453905
std       4.234010     4.877754     1.971501     3.500754
min       6.000000    18.120000     1.000000     1.000000
25%      10.000000    27.920000     2.000000     3.000000
50%      14.000000    32.820000     4.000000     7.000000
75%      18.000000    35.760000     6.000000    10.000000
max      22.000000    38.700000     7.000000    12.000000

### Question 4: Data Type Conversion (10 Marks)

The 'Date' column is currently an object. Convert it to a datetime object. Then, create two new columns: 'Month' (containing the month number) and 'Year' (containing the year as an integer). Finally, display the data types of all columns.

**Hint:** Use `pd.to_datetime()` to convert the 'Date' column. Access month and year using `.dt.month` and `.dt.year` on the datetime column. Use `.dtypes` to check the final data types.

**Expected Output:** A series listing each column and its updated data type.

In [31]:
coffee_data['Date'] = pd.to_datetime(coffee_data['Date'])

coffee_data['Month'] = coffee_data['Date'].dt.month
coffee_data['Year'] = coffee_data['Date'].dt.year

coffee_data.dtypes

hour_of_day             int64
cash_type              object
money                 float64
coffee_name            object
Time_of_Day            object
Weekday                object
Month_name             object
Weekdaysort             int64
Monthsort               int64
Date           datetime64[ns]
Time                   object
Month                   int32
Year                    int32
dtype: object

### Question 5: Average Sales per Year (10 Marks)

Calculate the average 'money' (sales) for each 'Year'. Group the data by the 'Year' column and then compute the mean of the 'money' column for each group.

**Hint:** Use the `.groupby('Year')['money'].mean()` method.

**Expected Output:** A Pandas Series showing the years as the index and the average sales as the values.

In [32]:

average_sales_per_year = coffee_data.groupby('Year')['money'].mean()

average_sales_per_year

Year
2024    31.737634
2025    31.390011
Name: money, dtype: float64

### Question 6: Maximum Sales by Month Name (10 Marks)

Find the maximum 'money' earned for each 'Month_name'. Display the result as a Pandas Series.

**Hint:** Use `.groupby('Month_name')['money'].max()`.

**Expected Output:** A Series with month names as the index and their corresponding maximum sales value.

In [ ]:

max_sales_by_month = coffee_data.groupby('Month_name')['money'].max()

max_sales_by_month

Month_name
Apr    38.70
Aug    32.82
Dec    35.76
Feb    35.76
Jan    35.76
Jul    37.72
Jun    37.72
Mar    38.70
May    37.72
Nov    35.76
Oct    35.76
Sep    35.76
Name: money, dtype: float64

### Question 7: Total Sales by Coffee Name (10 Marks)

Calculate the total 'money' (sum of sales) for each 'coffee_name'.

**Hint:** Use `.groupby('coffee_name')['money'].sum()`.

**Expected Output:** A Series with coffee names as the index and the total sales for each.

In [ ]:


total_sales_by_coffee = coffee_data.groupby('coffee_name')['money'].sum()

total_sales_by_coffee

coffee_name
Americano              14650.26
Americano with Milk    24751.12
Cappuccino             17439.14
Cocoa                   8521.16
Cortado                 7384.86
Espresso                2690.28
Hot Chocolate           9933.46
Latte                  26875.30
Name: money, dtype: float64

### Question 8: Unique Coffee Types (15 Marks)

Determine how many unique types of coffee are present in the dataset. Print the unique coffee names as a list.

**Hint:** Use the `.unique()` method on the 'coffee_name' column and convert the result to a list using `list()`.

**Expected Output:** A Python list containing the names of all unique coffee types.

In [35]:
unique_coffee_types = list(coffee_data['coffee_name'].unique())

print("Number of unique coffee types:", len(unique_coffee_types))

unique_coffee_types

Number of unique coffee types: 8

['Latte',
 'Hot Chocolate',
 'Americano',
 'Americano with Milk',
 'Cocoa',
 'Cortado',
 'Espresso',
 'Cappuccino']

### Question 9: Average Sales by Time of Day (15 Marks)

Find the average 'money' made during each 'Time_of_Day' (Morning, Afternoon, Night).

**Hint:** Use `.groupby('Time_of_Day')['money'].mean()`.

**Expected Output:** A Series with 'Time_of_Day' as the index and the average sales for each period.

In [36]:


average_sales_by_time = coffee_data.groupby('Time_of_Day')['money'].mean()

average_sales_by_time

Time_of_Day
Afternoon    31.643187
Morning      30.422693
Night        32.890904
Name: money, dtype: float64

### Question 10: Generate and Display Synthetic Data (15 Marks)

Create a new, synthetic DataFrame named `synthetic_df`. It should have two columns: 'date' and 'value'. The 'date' column should contain 100 dates starting from '2023-01-01'. The 'value' column should contain 100 random numbers. Display the entire synthetic DataFrame.

**Hint:** Use `pd.date_range(start="2023-01-01", periods=100)` for the dates and `np.random.randn(100)` for the random values. Combine them into a DataFrame using a dictionary.

**Expected Output:** A 100x2 DataFrame with 'date' and 'value' columns.

In [37]:
import numpy as np
import pandas as pd

dates = pd.date_range(start="2023-01-01", periods=100)

values = np.random.randn(100)

synthetic_df = pd.DataFrame({
    'date': dates,
    'value': values
})

synthetic_df

         date     value
0  2023-01-01 -0.338107
1  2023-01-02 -0.020734
2  2023-01-03 -0.070672
3  2023-01-04 -0.954946
4  2023-01-05  1.207583
..        ...       ...
95 2023-04-06 -0.415744
96 2023-04-07  0.913525
97 2023-04-08 -0.582634
98 2023-04-09 -0.671423
99 2023-04-10 -0.261616

[100 rows x 2 columns]